.info {
  text-align: center;
  .kind {
    border-radius: 4px;
    opacity: 0.4;
    font-size: 70%;
    padding: 2px 8px;
    display: inline-block;
    text-transform: uppercase;
    color: white;
  }
  .kind-scale {
    background-color: #1f7240;
  }
  .kind-chord {
    background-color: #5a1f72;
  }
  .kind-interval {
    background-color: #1f3872;
  }
  p {
    margin: 0;
    font-size: 2em;
    &.subtitle {
      font-size: inherit;
    }
  }
}
