.presets, .tools {
  margin: 1em 0;
  font-size: 12px;
  display: flex;
  justify-content: center;
  gap: 12px;
  label+select {
    margin-left: 4px;
  }
  div, button, select {
    border-radius: 8px;
  }
  div {
    background-color: rgba(0,0,0,0.2);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    &.buttons {
      gap: 4px;
    }
  }
  button {
    border: outset 1px rgba(0,0,0,0.6);
  }
}
