.presets, .tools {
  margin: 1em 0;
  font-size: 12px;
  display: flex;
  justify-content: center;
  gap: 12px;
  label+select {
    margin-left: 4px;
  }
  label+input {
    margin-left: 1em;
  }
  div, button, select {
    border-radius: 8px;
  }
  div {
    background-color: rgba(0,0,0,0.2);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    &.buttons {
      gap: 4px;
    }
  }
  button {
    outline: none;
    border: outset 1px rgba(0,0,0,0.6);
    border: none;
    padding: 4px 8px;
    background: linear-gradient(130deg, white, #eee);
    &, &:disabled {
      color: #444;
    }
    &:disabled {
      background: linear-gradient(-50deg, white, #eee);
      opacity: 0.7;
    }
  }
}
